<!--The content below is only a placeholder and can be replaced.-->
<h1>COMPONENTE PRINCIPAL</h1>

<ul>
  <li>
    <a routerLink="/inicio">INICIO</a>
  </li>
  <li>
    <a routerLink="/menu">MENU</a>
    <ol>
      <li>
        <a routerLink="/menu/gestion-usuarios">Gestion Usuarios</a>
      </li>
      <li>
        <a routerLink="/menu/gestion-productos">Gestion Productos</a>
      </li>
    </ol>
  </li>
  <li>
    <a routerLink="perfil">PERFIL</a>
  </li>
  <li>
    <a routerLink="/login">LOGIN</a>
  </li>
</ul>


<router-outlet></router-outlet>
<!-- p-> parrafo -->
<p>FOOTER</p>

<!--

Deber crear y actualizar en usuarios y productos

-->
